@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in 150ms;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: darkgray;
}

header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
}
nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBrand {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
  cursor: default;
}
.navBrand object {
  margin-right: 5px;
}
.navMenu {
  display: flex;
  justify-content: end;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.navMenu div {
  padding: 10px 15px;
  display: inline;
}
.navMenu div a {
  color: white;
  text-decoration: none;
  transition: ease-in 150ms;
}
.active,
.navMenu div a:hover {
  border-radius: 5px;
  background-color: crimson;
  padding: 8px 15px;
}
.container {
  padding: 15px 10%;
}
.toogle {
  display: none;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
main .content {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.content:nth-child(1) {
  background-color: rgb(128, 95, 102);
}
.content:nth-child(2) {
  background-color: rgb(125, 76, 86);
}
.content:nth-child(3) {
  background-color: rgb(147, 74, 88);
}
.content:nth-child(4) {
  background-color: rgb(219, 79, 107);
}
.content:nth-child(5) {
  background-color: rgb(33, 32, 32);
  color: white;
}

@media screen and (max-width: 950px) {
  .container {
    padding: 5px 5%;
  }
  nav {
    justify-content: space-between;
  }
}

/* mobile phone */
@media screen and (max-width: 600px) {
  .navBrand {
    position: relative;
    left: 0;
  }
  .navMenu {
    display: none;
  }
  .toogle {
    height: 23px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .toogle span {
    background-color: crimson;
    height: 4px;
    width: 28px;
    border-radius: 5px;
  }
  .toogle input {
    position: absolute;
    height: 23px;
    width: 25px;
    opacity: 0;
    cursor: pointer;
    transform: translate(2px, 0px);
  }
  .toogle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .toogle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  .toogle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(4px, -5px);
    z-index: -1;
  }
  .toogle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    z-index: -1;
  }
  .toogle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(4px, 4px);
    z-index: -1;
  }
}
